*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/ruby

bin/cucumber
bin/htmldiff
bin/ldiff
bin/rake2thor
bin/redcarpet
bin/thor

